/* 顶部进度条颜色 */
#nprogress .bar {
  background: #67de7b !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px #67de7b, 0 0 5px #67de7b !important;
}
#nprogress .spinner-icon {
  border-top-color: #67de7b !important;
  border-left-color: #67de7b !important;
}
