/* 入场动画过程 */
.router-enter-from {
  transform: translateX(-20px);
  opacity: 0;
}
.router-enter-active {
  transition: all 0.7s;
}
.router-enter-to {
  transform: translateX(0px);
  opacity: 1;
}
/* 出场动画过程 */
.router-leave-from {
  transform: translateX(0px);
  opacity: 1;
}
.router-leave-active {
  transition: all 0.7s;
}
.router-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

/* 卡片形式切换动画 */
.scale-slide-enter-active,
.scale-slide-leave-active {
  position: absolute;
  transition: all 0.7s ease;
}

.scale-slide-enter-from {
  left: -100%;
}

.scale-slide-enter-to {
  left: 0%;
}

.scale-slide-leave-from {
  transform: scale(1);
}

.scale-slide-leave-to {
  transform: scale(0.8);
}
