/* 入场动画过程 */
.router-enter-from {
  transform: translateX(-20px);
  opacity: 0;
}
.router-enter-active {
  transition: all 0.7s;
}
.router-enter-to {
  transform: translateX(0px);
  opacity: 1;
}
/* 出场动画过程 */
.router-leave-from {
  transform: translateX(0px);
  opacity: 1;
}
.router-leave-active {
  transition: all 0.7s;
}
.router-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}
